body{
  background-image: image(flora.png);
}
footer{
position: fixed;
bottom :0;
left:700px;
right:0;
}
footer{
position: fixed;
bottom :0;
left:700px;
right:0;

}
.bn1{
  color: #ff0066;
}
#button2{
  color: #00cc00;
}
.form{
  color:#660066;
}
